<div class="my-4 col-span-2 mt-6">
                    <div class="max-w-4xl p-5 md:px-10 md:py-6 bg-white rounded-lg shadow-md">
                        <div class="flex justify-between items-center">
    
                            <span class="logo font-light text-sm md:text-lg text-gray-600">{{dataValues.createdAt}}</span>
                    <a class="logo px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500"
                        id="moment-time">#
                        Moment</a>
                </div>
                <div class="mt-2"><a href="#" class="logo text-sm md:text-2xl text-gray-700 font-bold hover:underline"
                        id="moment-title">
                        {{dataValues.title}}</a>
                    <p class="logo mt-2 text-sm md:text-lg text-gray-600">
                        {{dataValues.body}}
                    </p>
                </div>
                <div class="flex justify-between items-center mt-4">
                    <!-- <a href="#" class="text-blue-500 hover:underline">Read more</a> -->
                    <div>
                        <a href="/user/{{dataValues.UserId}}" class="logo flex items-center"> View user profile 
                        <!-- <img src="{{dataValues.imageurl}}" onerror="this.src='https://picsum.photos/300'" class="mx-4 w-12 h-12 object-cover rounded-full"> -->
                        </a>
                    </div>

                    <div>
                        <button  data-id="{{dataValues.id}}" data-UserId="{{dataValues.UserId}}" class="hidden logo px-2 py-1 bg-gray-400 text-sm md:text-lg text-gray-100 font-bold rounded hover:bg-gray-600 delete-button">Delete</button>
                        </button>
                    </div>
                        </div>
                    </div>
                </div>


